@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDEDED;
    font-family: 'Poppins', sans-serif ;
}

.linea-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea{
    margin-top: 50px;
    width: 50%;
    border: solid #7F7F7F;
    border-width: 1px;
}
/*------------------------------------------*/
.swiper-button-next,.swiper-button-prev{
    display: flex;
    border-radius: 100px;
    padding: 50px 20px;
    --swiper-theme-color: solid #FFB602;
    --swiper-navigation-size: 25px;
    border: solid 1px #cccccc41;
    -webkit-text-fill-color: rgb(255, 255, 255);
}
@media(max-width: 768px){
    .swiper-button-next,.swiper-button-prev{
        visibility: collapse;
    }
}

.swiper-button-next:hover,.swiper-button-prev:hover{
    background-color: #FFB602;
    border-radius: 100px;
    padding: 50px 20px;
    --swiper-theme-color: solid #030303;
    --swiper-navigation-size: 25px;
    border: solid 1px #fdfdfd;
}

.home .swiper {
    /*animation: cambio 16s infinite alternate ease-in-out;*/
    width: 100%;
    height: 650px;
    margin-top: 80px;
    background-color: rgb(34, 34, 34);
    transition: all 0.1s linear;
}
@media(max-width: 768px){
    .home .swiper {
        width: 100%;
        height: 600px;
        margin-top: 80px;
        background-color: rgb(34, 34, 34);
        transition: all .2s linear;
    }
}

.home .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 60px;
    background-size: cover;
}

.btn1{
    cursor: pointer;
    font-size: 1.2rem;
    color:rgb(29, 28, 28);
    background-color: #FFB602;
    border-radius: .5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    display: inline-block;
    text-decoration: none;
    padding:.8rem 3rem;
    border: solid 1px #FFB602;
    font-weight: bold;
 }

.btn1:hover{
    background: var(--green);
    border: solid 1px #FFFFFF;
    color:#FFFFFF;
    font-weight: bold;
}

.btn{
    cursor: pointer;
    font-size: 1.7rem;
    color:#fff;
    background-color: #FFB602;
    border-radius: .5rem;
    margin-top: 2rem;

    display: inline-block;
    text-decoration: none;
    padding:.8rem 3rem;
 } 
.btn:hover{
    background: #030303;
    color: #FFB602;
    letter-spacing: .1rem;
}
 /*-----------------------------------------------Sliders--------------------------------------------*/
.home .home-slider .slide{
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap:2rem; 
    padding-top: 5rem;
    line-height: 25px;    
}
@media(max-width:768px) {
    .home .home-slider .slide{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0rem;
        gap:2rem; 
        padding-top: 5rem;
        line-height: 5px;    
    }
}



.home .swiper-slide .content h3 {
    font-size: 55px !important;
    line-height:100% !important;    
}
@media(max-width:768px) {
    .home .swiper-slide .content h3 {
        font-size: 25px !important;
        line-height:100% !important;    
    }
}

.home .home-slider .back1{
    transition: all .2s linear;
    background-image: url('../img/slide1.jpg');
}
.home .home-slider .back2{
    transition: all .2s linear;
    background-image: url('../img/slide2.jpg');
}
.home .home-slider .back3{
    transition: all .2s linear;
    background-image: url('../img/slide3.jpg');
}
.home .home-slider .back4{
    transition: all .2s linear;
    background-image: url('../img/slide4.jpg');
}

/*------------------------------------------------------------------*/
.home .home-slider .slide .content{
    flex:1 1 45rem;
    text-align: left;
    margin-left: 5rem;
}


@media(max-width: 768px){
    .home .home-slider .slide .content{
        justify-content: center;
        text-align: none;
        margin-left: 1rem;
    }
}

.home .home-slider .slide .content p{
    color:rgb(238, 225, 225);
    font-size: 2rem;
    text-align: left;
    margin-left: 2rem;
}
@media(max-width: 768px){
    .home .home-slider .slide .content p{
        color:rgb(238, 225, 225);
        font-size: 1rem;
        text-align: center;
        margin-left: 0rem;
        line-height: 1;
        margin-top: 1.5rem;
    }
}

.home .home-slider .slide .content h3{
    color:#FFFFFF;
    font-size: 4rem;
    margin-left: 2rem;
    line-height: 1.5;
}
@media(max-width: 768px){
    .home .home-slider .slide .content h3{
        color:#FFFFFF;
        font-size: 4rem;
        margin-left: 2rem;
        text-align: center;
        line-height: 1.5 !important;
    }
}
/*------------------------- proy-----------------------------*/
.carousel-item .carousel-caption h1{
    color: #FFB602;
}
.carousel-item .carousel-caption p{
    font-family: 'Montserrat', sans-serif;
}

/*--------------------------PROYECTOS-------------------------------*/
.swiper-pagination-bullet-active{
    background:var(--green);
}
.about{
    min-height: 100hv;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.about-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    overflow: hidden;
}
.about .about-container .row {
    width: 500px;
    float: left;
}

.about .about-container .head{
    width: 5000px;
    float: left;
}

.about .about-container h1{
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 0 100px;
}

@media (max-width: 768px){
    
    .about .about-container h1{
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
        text-align:justify;
        padding: 0 20px;
    }
    .slideproyectos{
        height: 150px !important;
        margin: 0 !important;
    }
    .carousel-inner .carousel-item img{
        height: 220px;
        width:min-content;
        background-size: cover;
    }
    .carousel-inner .carousel-item {
        margin-top: 0px;
    }
    
}

.about .about-container .content p{
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 0 10px;
}

.about .row .content p{
    font-size: 15px;
    padding: 0 1px;
    line-height: 2;
    text-align: justify;
    font-family: 'Inter', sans-serif;
}
@media (max-width: 768px){
    .carousel-inner .carouselhome{
        min-height: 200px !important;
    }
    .carousel-inner .carousel-item{
        min-height: 200px !important;
    }
    .carousel-item .carousel-caption h1{
        font-size: 20px !important;
    }
    .carousel-item .carousel-caption p{
        display: none;
    }
    .carousel-inner .carouselhome{
        max-height: 200px !important;
    }
}
/*------------------------- SERVICIOS -----------------------------*/
.carousel-item{
    height: 500px;
    width: 100%;
}
.carousel-item h1{
    font-size: 55px;
    font-weight: bold;
    color: #FFB602;
}
.carousel-item p{
    font-size: 25px;
    font-weight: bold;
}

.carousel-control-prev-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFB602;
}
.carousel-control-next-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFB602;
}

.cuadrado {
    /*margin: 0px 125px;*/
    min-height: 100hv;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px){
    .cuadrado {
        margin-top: -60px;
    }
}

.container-cua{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadrado .container-cua .container-cuadro{
    display: flex;
}

.cuadrado .container-cuadro .cuadro{
    width: 350px;
    height: 460px;
    box-shadow: 15px 15px;
    border-radius: 8px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    background-color: #d4ecff;
    margin: 15px 50px;
    display: inline-block;
    padding: 20px 20px;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms;
}

.cuadrado .container-cuadro .cuadro:hover{
    box-shadow: 10px 10px 0px 0px #FFB602,
    20px 20px  #2e2e2e, 30px 30px 14px #707070;
    transform: translate(-5px, -5px);
}

.cuadrado .container-cuadro .cuadro img{
    align-items: center;
    width: 150px;
    height: 120px;
    margin: 5px 100px 5px 100px;
}

.cuadrado .container-cuadro .cuadro h1{
    padding: 0 1rem;
    font-size: 35px;
    text-align: center;
    font-family:  'Inter', sans-serif;
}
.cuadrado .container-cuadro .cuadro p{
    padding: 0 1rem;
    margin-top: 10px;
    text-align: justify;
}
.cuadrado .container-cuadro .cuadro a{
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    margin: 20px 10px 10px 100px;
    border-radius: 8px;
    padding: 10px 25px;
}

.cuadrado .container-cuadro .cuadro ol{
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    margin: 10px 1px 0px 25px;
}

.btn-servicios{
    position: relative;
    cursor: pointer;
    color:#fff;
    background-color: #FFB602;
    border-radius: .5rem;
    display: inline-block;
    text-decoration: none;
    padding:.8rem 1rem;
    border: solid 2.2px  #FFB602;
    padding: 10px 30px;
 } 
.btn-servicios:hover{
    background: #FFB602;
    color: #000000;
    border: solid 2.2px #000000;
}

@media (max-width:768px) {
    .cuadrado{
        width: 100%;
    }

    .cuadrado .container-cua .container-cuadro{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .cuadrado .container-cuadro .cuadro{
        width: 300px;
        height: 355px;
    }
    .cuadrado .container-cuadro .cuadro img{
        margin: 0 100px;
        width: 60px;
        height:60px; 
    }
    .cuadrado .container-cuadro .cuadro h1{
        font-size: 20px;
        text-align: center;
        padding: 10px 0;
    }
    .cuadrado .container-cuadro .cuadro p{
       font-size: 15px;
    }
    .cuadrado .container-cuadro .cuadro a{
        font-weight: 100;
        font-size: 11px;
        margin: 15px 80px;  
        width: 100px;
    }
    
}


/* -------------------------CARDS-PROYECTO ----------------------------*/
.cards{
    width: 100%;
}
@media (max-width: 768px){
    .cards{
        margin-top: -900px;
    }
    .container-cards {
        height: auto;
        width: 100%;
        display: flex;
        font-family: 'Inter', sans-serif;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom: 0px;
        margin-top: -50px;
    }
}


.card-title{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
}
.container-cards {
    height: auto;
    width: 100%;
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.card{
    position: relative;
    width: 360px;
    height: 470px;
    margin: 50px;
    margin-top: 0px;
    margin-bottom:30px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front img {
    position:  absolute;
    width: 100%;
    object-fit: cover;
}

.card .face p{
    margin: 10px 38px 10px 38px;
    text-align: center;
    font-size: 17px;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #191818;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card .back .link {
    border-top: solid 1px ;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #FFB602;
    text-decoration: none;
}

.card .back h3 {
    color: #FFB602;
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 4px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
.card-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .cards{
        display: flex;
        margin:auto;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .container-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card-title{
        text-align: center;
        font-size: 30px;
    }
    .card .back .link a {
        font-size: 20px;
    }
    
    .card .back h3 {
        font-size: 20px;
    }

    .card .back p {
        font-size: 15px;
    }

    .card{          
        width: 300px;
        height: 350px;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    .card-link{
        margin-top: 0px;  
    }

}

/*----------------------------Nosotros-------------------------*/
.Nosotros{
    min-height: 100hv;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.container-us{
    max-width: 1120px;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
}
.Nosotros .container-us .img-us{
    margin-top: 180px;
    float: left;
}

.Nosotros .container-us .row-us{
    width: 500px;
    float: left;
}
.Nosotros .container-us .row-us .content-us{
    padding: 60px;
}
.Nosotros  .container-us .row-us .content-us h1{
    color: #191818;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
}
.Nosotros .container-us .row-us .content-us h2{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #FFB602;
    text-align: center;
    
}
.Nosotros .row-us .content-us a{
    text-align: center;
    margin: 20px 90px 0 90px;
}
.Nosotros .row-us .content-us p{
    padding: 0 1px;
    line-height: 2.2;
    text-align: justify;
    font-size: 18px;
    
}

@media (max-width: 768px){
    .Nosotros{
        display: flex;
        margin:auto;
        flex-wrap: wrap;
        width: 100%;
    }
    .Nosotros .container-us{
        display: flex;
        justify-content: center;
        align-items: center;  
        flex-wrap: wrap;  
    }
    .Nosotros .row-us .content-us{
        text-align: center;
    }
    
    .Nosotros .img-us img{
        width: 400px;
        height: 250px;
        margin-top: -200px;
    }
    .Nosotros  .container-us .row-us .content-us h1{
        font-size: 30px;            
    }
    .Nosotros .container-us .row-us .content-us h2{
        font-size: 20px; 
        
    }
    .Nosotros .container-us .row-us .content-us a{
        margin: 0px 0px;
        padding: 10px 40px;  
    }
    .Nosotros .row-us .content-us p{
        font-size: 13px;
        margin-bottom: 10px;
        line-height: 1.5;
    }
    
}

.img-us{
    animation: movimiento 2.5s linear infinite;
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}


/*------------------------Testimonios-----------------------*/
.review{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px){
    .review{
        margin-top: -50px;
    }
}

.swiper-container{
    max-width: 1300px;
    width: 100%;
    padding: 0px 0;
    overflow: hidden;
}

@media (max-width: 768px){
    .swiper-container{
        max-width: 300px;
        width: 100%;
        padding: 20px 0;
        overflow: hidden;
    }

    .user p{
        font-size: 40px;
    }
}

.review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:1px solid #191818;
    border-radius: .5rem;
    background-color: #FFFFFF;
}



.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
   /* padding: 45px 20px;
    margin: 0 40px;
    overflow: hidden;*/
}
.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
@media (max-width: 768px){
    .review .slide .user img{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        object-fit: cover;
    }
}

.img-est{
    animation: movimiento 2.5s linear infinite;
}


.review .swiper-wrapper{
    width: 100%;
    max-width: 1200px;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}
@media (max-width: 768px){
    .review .slide .user h3{
        color:var(--black);
        font-size: 1.1rem;
        padding-bottom: .5rem;
    }
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}
@media (max-width: 768px){
    .review .slide .user i{
        font-size: 1rem;
        color:var(--green);
    }
}

.review .slide p{
    font-size: 1rem;
    line-height: 1.8;
    color:var(--light-color);
    text-align: justify;
}
@media (max-width: 768px){
    .review .slide p{
        font-size: 0.7rem;
        line-height: 1.5;
        color:var(--light-color);
        text-align: justify;
    }
}

.heading-review{
    text-align: center;
    color: #191818;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-family: 'Inter', sans-serif;
}
.sub-heading-review{
    text-align: center;
    color:#030303;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-family: 'Inter', sans-serif;
}
/*---------------------------------------------------Estadisticas-----------------------------------------------------*/
.estadisticas{
    margin-top: 60px;
    flex-wrap: wrap;
}
.tabla-est{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container-est{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 1000px;
    height: 550px;
    margin: 5%;  
}
.estadisticas .tabla-est .container-est{
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 15px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
}
.estadisticas .tabla-est .container-est .img-est{
    display:flex;
    justify-content: center;
    align-items: center;
}
.estadisticas .tabla-est .container-est .img-est img{
    width: 350px;
    height: 330px;
    margin-bottom: 30px;
    margin-top: -100px;
}
.estadisticas .tabla-est .container-est .row1{
    margin: 50px;
}
.estadisticas .tabla-est .container-est .row2{
    margin: 50px;
    justify-content: space-between;
}   
.estadisticas .tabla-est .container-est .row1 h1{
    font-size: 35px;
}
.estadisticas .tabla-est .container-est .row1 p{
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
}
.estadisticas .tabla-est .container-est .row2 h1{
    color: #FFB602;
    font-size: 45px;
}
.estadisticas .tabla-est .container-est .row2 p{
    
    font-size: 25px;
}
.estadisticas .tabla-est .container-est .row2 hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid #7F7F7F;
    border-width: 1px;
}
/*--------------------------------------------------footer-------------------------------------------------------------*/

.prefooter{
    margin-top: -280px;
}

@media (max-width:768px){
    .prefooter{
        margin-top: -30px;
    }
}

.footer-1{
    display: flex;
    justify-content: center;
    margin-top: -10px;
    width: 100%;
    background-color: #FFB602;   
}
@media (max-width:768px){
    .footer-1{
        margin-top: -7px;;   
    }
}

.footer-1 .g1{
    width: 80%;
    display: flex;
    justify-content: space-between !important;
    grid-gap: auto;
    padding: 25px 0px;
}
@media (max-width:768px){
    .footer-1 .g1{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        grid-gap: auto;
        padding: 25px 0px;   
    }
}

.footer-1 .g1 .box{
    justify-content: center;
    
}
.footer-1 .g1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-1 .g1 .box figure img{
    width: 150px;
}

.footer-1 .g1 .box h2{
    color: #5B1E6E;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-1 .g1 .box p{
    margin-bottom: 10px;

}    

.footer-1 .g1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #5B1E6E;
    margin-right: 10px;
    background-color: #fac849;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 7px;
}

.footer-1 .g1 .red-social a:hover{
    transform: scale(1.15);
}

.footer-1 .g1 .red-social .fa-facebook:hover{
    background: #1847e4;
    color: #ffffff;
}

.footer-1 .g1 .red-social .fa-instagram:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #FFFFFF;
}
.footer-1 .g1 .red-social .fa-whatsapp:hover{
    background: #25D366; 
    color: #ffffff;
}
.footer-1 .g1 .red-social .fa-linkedin:hover{
    background: #0e76a8; 
    color: #ffffff;
}
.footer-1 .g1 .red-social .fa-twitter:hover{
    background: #1DA1F2; 
    color: #ffffff;
}

.footer-2{
    background-color: #191818;
    margin: auto;
    text-align: center;
    color: #EDEDED;
}

@media screen and (max-width:800px){
    .footer-1 .g1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 25px 0px;
    }
    .card-wrap{
        margin-top: 150px;
        justify-content: center;
        margin-left: -65px;
    }
    .s{
        margin-top: 250px;
    }
}



/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------Modificando el css para dispositivos Móviles-------------------------------------------*/
@media (max-width: 768px){
                    p{
                        font-size: 20px;
                    }
                    .header{
                        height: 65px;
                    }
                    .btn{
                        font-size: 15px;
                        margin-top: .5rem;
                        margin-left: 0rem;
                     } 
                    .btn1{
                        font-size: 20px;
                        margin-top: 2rem;
                        margin-left: 0rem;
                     } 
                    .link a{
                        font-size: 10px;
                    }
                    .home .swiper {                      
                        margin-top: 54px; 
                        display: flex;
                        justify-content: center;
                        align-items: center;   
                    }
                    .home .home-slider .slide .content{
                    text-align: center;
                    }
                    .home .home-slider .slide .content span{
                        font-size: 15px;
                        font-weight: bold;
                        text-align: center;
                        margin-left: 0rem;
                        margin-right: 2rem;
                    }
                    
                    .home .home-slider .slide .content h3{
                        font-size: 30px;
                        font-weight: bold;
                        text-align: center;
                        margin-left: 0rem;
                        margin-right: 2rem;
                        
                    }
                    .home .home-slider .slide .content .a{
                        font-size: 15px;
                        padding: 20px 100px;  
                        width: 100px;
                    }
                    .header .logo img{
                        height: 50px;
                        width: auto;
                        padding: 0 20px;
                    }
                    .nav-menu{
                        flex-direction: column;
                        align-items: center;
                        margin-right: 20px ;
                        position: fixed;
                        background-color: #656464;
                        left: 0;
                        top: 60px;
                        width: 100%;
                        padding: 20px 0;
                        height: calc(100% - 100px);
                        overflow-y: auto;

                        left: 100%;
                        transition: left 0.3s;
                    }  

                    .nav-menu-item{
                        line-height: 50px;    
                    }

                    .nav-toggle {
                        
                        display: block;
                    }

                    .nav-menu_visible{
                        left: 0;
                    }
                    .home .home-slider .slide{
                        padding-top: 1rem;
                    }
                    /****************************************************************************************/
                    .about{
                        width: 100%;
                    }
                    .about .about-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                    
                    .about .about-container .row .content p{
                        padding:  20px 30px 0 30px;
                        font-size: 12px;
                        line-height: 1.5;
                    }
                    .about .about-container .head{
                        text-align: center;
                    }
                    .about .about-container .head .heading{
                        font-size: 29px;
                    }
                    
                    /***********************************************************************************/

                    .heading-review{
                        font-size: 30px;
                    }
                    .sub-heading-review{
                        font-size: 14px;
                        padding: 0 100px;
                    }
                    /********************************************************************************************************/
                    .estadisticas{
                        display: flex;                  
                        justify-content: center;
                        align-items: center;
                        margin-top: 70px;
                    }

                    .estadisticas .tabla-est .container-est .img-est img{
                        width: 250px;
                        height: 230px;
                        margin-bottom: 30px;
                    }


                    .container-est{
                        /*width: 450px;
                        height: 1200px;*/
                        width: 80%;
                        height: 95%;
                        flex-wrap: wrap;
                        margin-bottom: 35px;
                    }

                    .estadisticas .tabla-est .container-est .row1{
                        margin-bottom: 10px;
                        text-align: center;
                    }
                    .estadisticas .tabla-est .container-est .row2{
                        margin-top: 10px;
                        text-align: center;
                    }   
                    .estadisticas .tabla-est .container-est .row1 h1{
                        font-size: 20px;
                        text-align: center;
                    }
                    .estadisticas .tabla-est .container-est .row1 p{
                        font-size: 14px;
                        padding-bottom: 10px;
                    }
                    .estadisticas .tabla-est .container-est .row2 h1{
                        font-size: 30px;
                    }
                    .estadisticas .tabla-est .container-est .row2 p{   
                        font-size: 17px;
                    }

                    
    }   
    @media (max-width: 768px){
        .about .about-container .content p{
            padding: 0 1px;
            line-height: 2;
            text-align: justify;
            font-size: 15px;
            font-family: 'Inter', sans-serif;
            font-size: 13px;
            margin-bottom: 20px;
            padding: 0 25px;
            line-height: 1.7;
        }
        .slideproyectos{
            height: 200px !important;
        }
        .slideproyectos .carousel-control-prev .carousel-control-prev-icon{
            height: 35px;
            width: 35px;
        }
        .slideproyectos .carousel-control-next .carousel-control-next-icon{
            height: 35px;
            width: 35px;
        }
    }            
/*------------------------------------------------------------------------------------------------------------------*/

form{
    width: 80%;
}

form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 12px;
}

form .field input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #161616 !important;
    padding: 0 10px;
    outline: none;
    font-size: 17px;
}

form .btnsub input{
    background-color: #4e1f5c;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}

form .btnsub:hover input{
    background-color: #161616;
    color: #FFB602;
    cursor: pointer;
}