@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body{
    margin: 0 ;
    position: relative;
    flex-direction: column;
    padding: 0 !important;
    grid-template-rows: auto 1 auto ;
    min-height: 100%;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}


/************************** *************************/
.content-nos{
    position: relative;
    background-color: #EDEDED;
}

.infonosotros{
    position: relative;
    content: center;
    background-color: #EDEDED;
    width: 100%;
    height: 100px;
}

/** scroll nosotros **/

.s-nosotros{
    display: flex;
    background-image: url(../img/imgcab/cabproy.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    justify-items: center;
    height: 200px; 
    padding: 0;
}

.tittle{
    color: azure;
    text-align: center;
    padding-top: .8em;
    font-size: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.about{
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0px;
}

.about-container .content p{
    font-family: 'Poppins' !important;
    font-size: 18px !important;
    text-align: justify !important;
}

@media (max-width:768px){
    .s-nosotros{
        height: 100px; 
        margin-top: 1px;
    }
    .tittle{
        color: azure;
        text-align: center;
        padding-top: 0em;
        font-size: 45px;
        font-family: 'Inter', sans-serif;
    }
    .about-container .content p{
        width: 100%;
        text-align: justify;
        font-size: 14px !important;
    }
}

/****************** CARACTERISTICAS *************************/
.features{
    width: auto;
    height: 220px;
    background:#fdbe1e;
    display: flex;   
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .container-cuadro .cuadro{
    width: 440px;
    height: 250px;
    overflow: hidden;
    border-style: solid;
    border-width: 0px;
    margin: 10px 60px;
    display: inline-block;
    padding: 10px 20px;
    justify-content: center;
    text-align: center;
    transition: all 300ms;
}

.container-cuadro .cuadro svg{
    align-items: center;
    width: 170px;
    height: 90px;
}

.features .container-cuadro .cuadro p{
    margin-top: .5rem;
    padding: 0 2rem 0 3rem;
    font-size: 18px;
    text-align: center;
    font-family:  sans-serif;
}

@media (max-width:768px) {
    .features{
        width: 100%;
        height: 100%;
    }

    .features .container-cuadro{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .features .container-cuadro .cuadro{
        width: 100%;
        height: auto;
        margin: 0;
    }
    .container-cuadro .cuadro svg{
        align-items: center;
        width: 90% !important;
        height: 40px;
    }

    .features .container-cuadro .cuadro p{
        margin-top: 1rem;
        padding: 0 0rem 0 0rem;
        font-size: 15px;
        text-align: center;
        font-family:  sans-serif;
    }
}

/***************cards mision vision***************/
.letrasmv{
    text-align: center;
    font-size: 3em;
    padding-top: 10px;
}

.letrasmv span {
    color: #FFB602;
}

.cardmv{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0px 60px;
    border-radius: 25px;
    transition: .15s;
    transition-delay: 0.15s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cardmv:hover{
    width: 500px;
    transition-delay: 0s;
}

.cardmv .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardmv .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    clip-path: circle(120px at center);
    transition: 1.2s;
}

.cardmv:hover .circle::before{
    clip-path: circle(370px at center);
}

.cardmv .circle .eye{
    position: relative;
    width: 180px;
    transition: .5s;
    transition-delay:  0.5s;
}

.cardmv:hover .circle .eye{
    transform: scale(0);
    transition-delay: 0.5s;
}

.contentvision{
    position: relative;
    width: 55%;
    left: 20%;
    padding: 10px 10px 10px 30px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.contentmision{
    position: relative;
    width: 55%;
    left: 20%;
    padding: 10px 10px 10px 30px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}
.cardmv:hover .contentmision{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
    z-index: 99;
}

.contentmision h1{
    color:#030303;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
}
.contentmision h4{
    color:#000000;
    font-size: 19px;
}

.cardmv:hover .contentvision{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
    z-index: 99;
}

.contentvision h1{
    color:#FFFFFF;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
}
.contentvision h4{
    color:#FFFFFF;
    font-size: 19px;
}

.cardmv .vision_img{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%) scale(0);
    height: 280px;
    transition: 0.7s;
    transition-delay: 0s;
}

.cardmv:hover .vision_img{
    left: 85%;
    transform: translate(-50%,-42%) scale(1);
    transition-delay: 0.5s;
}

.mision-vision{
    display: flex;
    justify-content: center;
    height: 350px;
    align-items: center;
    flex-wrap: wrap;
    content: center;
}

@media (max-width: 991px){
    .letrasmv{
        text-align: center;
        font-size: 3em;
        padding-top: 10px;
    }
    
    .letrasmv span {
        color: #FFB602;
    }
    
    .cardmv{
        position: relative;
        width: 250px;
        height: 250px;
        margin: 0px 0px;
        border-radius: 25px;
        transition: 0s;
        transition-delay: 0s;
        display: flex;
        justify-content: flex-start;
        justify-items: flex-start;
        align-items: center;
    }
    
    .cardmv:hover{
        width: 400px;
        transition-delay: 0s;
    }
    
    .cardmv .circle{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cardmv .circle::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--clr);
        clip-path: circle(120px at center);
        transition: 1.2s;
    }
    
    .cardmv:hover .circle::before{
        clip-path: circle(370px at center);
    }
    
    .cardmv .circle .eye{
        position: relative;
        width: 180px;
        transition: .5s;
        transition-delay:  0.5s;
    }
    
    .cardmv:hover .circle .eye{
        transform: scale(0);
        transition-delay: 0.5s;
    }
    
    .contentvision{
        position: relative;
        width: 100%;
        height: 100%;
        left: 20%;
        padding: 10px 10px 10px 30px;
        opacity: 0;
        transition: 0.5s;
        visibility:visible;
    }
    
    .contentmision{
        position: relative;
        width: 100%;
        height: 100%;
        left: 20%;
        padding: 10px 10px 10px 30px;
        opacity: 0;
        transition: 0.5s;
        visibility:visible;
    }
    .cardmv:hover .contentmision{
        left: 0;
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
        z-index: 99;
    }
    
    .contentmision h1{
        color:#030303;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1em;
        font-weight: bold;
    }
    .contentmision h4{
        color:#000000;
        font-size: 14px;
    }
    
    .cardmv:hover .contentvision{
        left: 0;
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
        z-index: 99;
    }
    
    .contentvision h1{
        color:#FFFFFF;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1em;
        font-weight: bold;
    }
    .contentvision h4{
        color:#FFFFFF;
        font-size: 14px;
    }
    
    .cardmv .vision_img{
        position: absolute;
        top: 0%;
        left: 20%;
        transform: translate(0%,0%) scale(0);
        height: 0px;
        transition: 0.7s;
        transition-delay: 0s;
    }
    
    .cardmv:hover .vision_img{
        left: 0%;
        transform: translate(-50%,-42%) scale(1);
        transition-delay: 0.5s;
    }
    
    .mision-vision{
        display: flex;
        flex-direction:row;
        justify-content: center;
        height: 120%;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        content: center;
        margin-bottom: 50px;
    }

    

    .cardmv{
        width: auto;
        max-width: 300px;
        margin: 10px;
        align-items: flex-start;
    }
    .cardmv:hover{
        height: 250px;
    }
    .cardmv:hover .vision_img{
        top: initial;
        margin: 0;
        padding: 0;
        bottom: 15px;
        left: 20%;
        transform: translate(20%, 0%) scale(1);
        height: 110px;
    }

    .cardmv .content{
        width: 100%;
        left: 0;
        padding: 0px;
    }
    
}

/************************* GALLERY *************************/
.gal{
    background-color: #161616;
    width: 100% !important;
    margin-block-end: 50px;
    height: 850px;
}


.heading{
    color: #EDEDED !important;
    text-align: center;
    font-size: 3em;
    margin: 0;
    margin-top: 0px;
}

.img-gallery img{
    width:100%;
    cursor: pointer;
    transition: 1s;
}

.carousel__lista{
    height: 100%;
}
.carousel__contenedor{
    width: 70%;
    height: 160px;
    margin: 0 auto ;
}
.crop-img{
    height: 70%;
    border-radius: 15px;
    border: #fdfdfd 1px solid;
    
}

.fa-chevron-left , .fa-chevron-right{
    color: #FFB602;
}

.row{
    position: absolute;
    display: flex;
    place-content: center;
    left: 50%;
    transform: translateX(-50%);
    
    margin: 0px !important;
    padding-top: 15px !important;
}

.large-img{
    
    padding-top: 0px;
    height: 450px;
    max-width:100%;
    margin: 0px;
    margin: 0px !important;
    border: 0px !important;
    padding: 0 !important;
}

.bttnimg_big{
    background-color: #ffffff00 !important;
    height: 100%;
    width: 50px;
    margin: 0px !important;
    border: 0px !important;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}

.fa-angle-double-left, .fa-angle-double-right{
    color: #EDEDED;
    font-size: 30px;
    width: 50px;
    line-height: 400px;
    position: relative;
    transform: translateY(-50%);
    margin: 0px !important;
    border: 0px !important;
    padding: 0 !important;
}
.bttbrigth:hover{
    background-color: #fafafa1f !important;
    height: 100%;
    width: 50px;
    margin: 0;
    border: 0px;
    transition: .7s;
    border-radius: 15px 15px 15px 15px;
    margin: 0px !important;
    border: 0px !important;
    padding: 0 !important;
}

.bttbleft:hover{
    background-color: #fafafa1f !important;
    height: 100%;
    width: 50px;
    margin: 0;
    border: 0px;
    transition: .7s;
    border-radius: 15px 15px 15px 15px;
    margin: 0px !important;
    border: 0px !important;
    padding: 0 !important;
}

@media(max-width:768px){
    .gal{
        background-color: #161616;
        width: 100% !important;
        height: 100%;
    }

    
    .heading{
        color: #EDEDED !important;
        text-align: center;
        font-size: 3em;
        margin: 0;
        margin-top: 0px;
    }

    .carousel__lista{
        height: 100%;
    }
    .carousel__contenedor{
        width: 80%;
        height: 160px;
        margin: 0 auto ;
    }
    .crop-img{
        height: 70%;
        border-radius: 15px;
        border: #fdfdfd 1px solid;
        
    }
    
    .fa-chevron-left , .fa-chevron-right{
        color: #FFB602;
    }
    
    .row{
        display: none !important;
    }
    

}
/************************* OUR TEAM *************************/
.team{
    position: relative;
    width: 100%;
    height: 70vh;
    text-align: center;
    padding-top: 50px;
}

.team h1{
    font-size: 40px;
}

.row{
    display: inline-flex;
    justify-content: center;
    padding-top: 40px;
    display: flex;
    flex-flow: wrap;
}

.row .boxx{
    width: 290px;
    height: 390px;
    border-radius: 15px;
    padding: 20px;
    padding: 20px;
    margin-left: 4rem;
    margin-block-end: 1rem;
    background-color: #e2e2e2;
    
    box-shadow: 0 0 12px #656464;
}

.row .boxx img{
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.row .boxx h2{
    padding-top: 20px;
    font-size: 25px;
    cursor: pointer;
}
.row .boxx h4{
    padding-top: 5px;
    font-size: 17px;
    color: #FFB602;
}

.row .boxx h5{
    padding-top: 5px;
    font-size: 15px;
    color: #191818;
}


.row .boxx ion-icon{
    padding-top: 10px;
    font-size: 30px;
    margin: 5px 3px;
    transition: 0.5s;
}

.row .boxx ion-icon:hover{
    color: aqua;
}

@media screen and (max-width:800px){
    .row{
        width: 80%;
        height: 1000px;
    }
    .team{
        margin-top: 300px;
    }
    
}


/**************************  FOOTER *************************/
.prefooter{
    background-color: #161616;
}

.footer-1{
    width: 100%;
    background-color: #FFB602;
}


.footer-1 .g1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
    padding: 25px 0px;
}

.footer-1 .g1 .box{
    justify-content: center;
    
}
.footer-1 .g1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-1 .g1 .box figure img{
    width: 150px;
}

.footer-1 .g1 .box h2{
    color: #5B1E6E;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-1 .g1 .box p{
    margin-bottom: 10px;

}    

.footer-1 .g1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #5B1E6E;
    margin-right: 10px;
    background-color: #fac849;
    text-align: center;
    transition: all 300ms ease;
}

.footer-1 .g1 .red-social a:hover{
    color: aqua;
    transform: scale(1.2);
}

.footer-2{
    background-color: #191818;
    margin: auto;
    text-align: center;
    color: #EDEDED;
}

@media screen and (max-width:800px){
    .s-nosotros{
        margin-top: 60px;
    }
    .footer-1 .g1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 0px 0px;
    }
    .card-wrap{
        margin-top: 150px;
        justify-content: center;
        margin-left: -65px;
    }
    .s{
        margin-top: 20px;
    }

    .footer-2{
    background-color: #191818;
    margin: 0 !important;
    padding: 0 !important;
    }


    
    .gal{
        height: 100%;
        min-height: 300px !important;
        margin: 0 0 0 ;
    }
}

