@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
    margin: 0;
    position: relative;
    padding: 0;
}

/***************************************Mini NAV*************************************/

.mini-nav {
    background-color: #ffffff;
    padding-top: 85px;
}

.mini {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/*.nav2 {
    display: flex;
    list-style: none;
} */

.tittlesrvc {
    height: 80px;
    text-align: center;
}



.nav-mini-item {
    font-size: 25px;
    text-decoration: none;
    line-height: 80px;
    margin: 0 20px;
    font-family: 'Inter', sans-serif;
    width: max-content;
}

.nav-mini-link {
    color: #080808;
    text-decoration: none;
}

.tittlesrvc a {
    position: relative;
    display: block;
    text-align: center;
    margin-left: 5rem;

}

.tittlesrvc a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: .5rem;
    background: #00A8CD;
    transition: .5s;
}

.tittlesrvc a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: .5rem;
    background: #FFB602;
    transition: .5s;
}

.tittlesrvc a:hover::after {
    color: #000000;
    width: 50%;
}

.tittlesrvc a:hover::before {
    color: #000000;
    width: 50%;
}

.tittlesrvc a:hover {
    color: #FFB602;
}

.container h1 {
    text-transform: lowercase;
}

.servicioactivo {
    color: #FFB602;
}

/***************************************************************************************************/
.info {
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 35px;
}

.info-proy {
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0px;
}

.info-container {
    max-width: 80%;
    width: 100%;
    height: 100px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.info .info-container .info-row {
    margin-top: 20px;
    width: 700px;
    float: left;
    padding-left: 60px;
    text-align: justify;
}

.info-proy .info-container .info-row {
    margin-top: 20px;
    width: 700px;
    float: left;
    padding-left: 60px;
    text-align: justify;
}

.info .info-container .info-head {
    width: 350px;
    float: left;
}

.info-proy .info-container .info-head {
    width: 350px;
    float: left;
}

.info .info-container .info-head h1 {
    font-size: 30px;
    font-weight: 100;
}

.info .info-row .content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 100px 10px 100px;
    line-height: 1.5;
}

.info-proy .info-row .content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 100px 10px 100px;
    line-height: 1.5;
}

/***************************************************************************************************/
.proyect {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.proyect-container {
    width: 100%;
    height: auto;
    overflow-x: hidden;

}

.proyectos {
    background-image: url(../img/slide6.jpg);
    background-size: cover;
    height: 380px;
    display: flex;
    align-items: center;
    margin: 5px 5px;
    border-radius: 10px;

}

.proyectos .paquetes {
    background-color: #FFB602;
    border-radius: 15px;
    text-align: center;
    width: 480px;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.proyectos h1 {
    color: #030303;
    font-family: 'Poppins';
    font-weight: bold;
}

.proyectos h4 {
    color: #4b4b4b;
    margin-left: 50px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.proyectos h5 {
    color: #ffffff;
    padding: 0px 16px 0px 16px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

#p2 {
    background-image: url(../img/slide5.jpg);
    background-size: cover;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.proyect .proyect-container .proyectos .proyec {
    padding-left: 20px;
}

.proyect .proyect-container .proyectos .proyec .proy {
    background-image: url(../img/cardsrvc.jpg);
    width: 600px;
    height: 350px;
    text-align: justify;
    border-radius: 10px;
    padding: 10px 10px;

    /*opacity: 0;
        transform: scale(0.9);
        transition: .7s ease-in-out all;*/
    /*.proyect .proyect-container .proyectos .proyec .proy .visible{
        opacity: 1;
        transform: scale(1);
    }*/
}

.proyect .proyect-container .proyectos .proyec .proy h1 {

    color: #202020;
    text-align: center;
    margin: 30px 0px 0px 0px;
    font-size: 30px;
}

.proyect .proyect-container .proyectos .proyec .proy .proy-p {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.proyect .proyect-container .proyectos .proyec .proy p {
    width: 500px;
    margin: 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*-------------------------------------footer-------------------------------------*/
.footer-1 {
    width: 100%;
    background-color: #FFB602;

}

.footer-1 .g1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
    padding: 25px 0px;
}

.footer-1 .g1 .box {
    justify-content: center;

}

.footer-1 .g1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-1 .g1 .box figure img {
    width: 150px;
}

.footer-1 .g1 .box h2 {
    color: #5B1E6E;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-1 .g1 .box p {
    margin-bottom: 10px;

}

.footer-1 .g1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #5B1E6E;
    margin-right: 10px;
    background-color: #fac849;
    text-align: center;
    transition: all 300ms ease;
}

.footer-1 .g1 .red-social a:hover {
    color: aqua;
}

.footer-2 {
    background-color: #191818;
    margin: auto;
    text-align: center;
    color: #EDEDED;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*------------------------------Modificando el css para dispositivos Móviles-------------------------------------------*/
@media screen and (max-width:800px) {
    .footer-1 .g1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 25px 0px;
    }
}

@media (max-width: 768px) {
    .header {
        height: 65px;
    }

    .header .logo img {
        height: 50px;
        width: auto;
        padding: 0 20px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        position: fixed;
        background-color: #656464;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 100px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 50px;
    }

    .nav-toggle {

        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .home .home-slider .slide {
        padding-top: 1rem;

    }

    /***********************************************************/

    .mini {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .mini-nav {
        padding-top: 65px;
    }

    .nav-mini-item {
        font-size: 18px;
    }

    .mini-nav .mini .container .row {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .mini-nav .mini .container .row .col-sm {
        justify-content: center;
        background-color: #00A8CD;
        border: solid .1px #20202027;
        height: auto;
        margin: none;
        padding: none;
    }

    .tittlesrvc {
        height: 40px;
        text-align: center;
        justify-content: center;
    }

    .nav-mini-item {
        text-decoration: none;
        line-height: 40px;
        font-family: 'Inter', sans-serif;
        width: max-content;
    }

    /***********************************************************************/
    .info {
        position: relative;
        width: 100% !important;
        height: 100%;
        margin-top: 30px !important;
        display: flex;
        justify-items: center !important;
    }

    .info-container {
        width: 380px;
        height: 100%;
        overflow: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .info .info-container .info-head h1 {
        font-size: 18px !important;
        font-weight: 300;
    }










    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0px;
    }

    .info-proy {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0px;
    }

    .info-container {
        max-width: 100%;
        height: 100%;
        font-family: 'Inter', sans-serif;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .info .info-container .info-row {
        margin-top: 0px;
        width: 100%;
        height: 100%;
        float: none;
        padding-left: 0px;
        text-align: justify;
        padding: 0px 20px 0 25px;
        justify-content: center;
    }

    .info-proy .info-container .info-row {
        margin-top: 0px;
        width: 700px;
        float: left;
        padding-left: 0px;
        text-align: justify;
    }

    .info .info-container .info-head {
        width: 100%;
        float: 0;
    }

    .info-proy .info-container .info-head {
        width: 100%;
        float: left;
    }


    .info .info-row .content p {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        padding: 0px 0px 0px 0px;
    }

    .info-proy .info-row .content p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        padding: 0px 0px 0px;
        line-height: 1.;
    }

    /*************************************************************************************/
    .proyect {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .proyect-container {
        width: 100%;
        height: 100%;
    }

    .proyect .proyect-container .proyectos {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    #p1,
    #p2 {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .proyect .proyect-container .proyectos .proyec {
        padding-left: 0;
    }

    .proyect .proyect-container .proyectos .proyec .proy {
        width: 300px;
        height: 300px;
        padding: 10px 10px;
    }

    .proyect .proyect-container .proyectos .proyec .proy p {
        font-size: 12px;
        padding: 0 15px;
    }

    .proyect .proyect-container .proyectos .proyec .proy h1 {
        text-align: center;
        margin: 0px 0;
    }





    .proyectos .paquetes {
        margin-top: -30px !important;
        width: 100%;
        height: 17px;
        justify-content: center;
        justify-items: center;
    }

    .proyectos .paquetes h5 {
        color: #191818;
        font-size: 10px !important;
    }



    .proyectos h1 {
        font-size: 10px;
        color: #030303;
        font-family: 'Poppins';
        font-weight: bold;
    }

    .proyectos h4 {
        color: #4b4b4b;
        margin-left: 50px;
        font-size: 22px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    .proyectos h5 {
        color: #ffffff;
        padding: 0px 16px 0px 16px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
    }


    .proyect .proyect-container .proyectos .proyec {
        padding-left: 20px;
    }

    .proyect .proyect-container .proyectos .proyec .proy h1 {

        color: #202020;
        text-align: center;
        margin: 30px 0px 0px 0px;
        font-size: 20px;
    }

    .proyect .proyect-container .proyectos .proyec .proy h4 {
        visibility: hidden;
    }

    .proyect .proyect-container .proyectos .proyec .proy .proy-p {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;

    }
}

/*------------------ slides ---------------------*/
.carousel-inner {
    overflow: hidden;
}

.caja1 {
    padding-top: 35px;
    width: 600px;
    height: 380px;
    margin: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.caja1 h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #fac849;
}

.caja1 h6 {
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    line-height: 35px;
    color: #FFFFFF;
}

.caja2 {
    width: 600px;
}

.caja2 ul {
    display: flex;
    padding: 0;
    width: 600px;
}

.caja2 li {
    list-style: none;
    width: 100%;
}

.caja2 img {
    list-style: none;
    width: 100%;
}


.carousel {
    width: 100%;
    background-color: rgb(29, 28, 28);
}

.contenido-slider {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footproy {
    margin-top: 0px;
    background-color: rgb(29, 28, 28);
}

@media (max-width:768px){
    .carousel-inner {
        width: 100%;
        height: 100%;
    }

    .contenido-slider{
        display: flex;
        flex-direction: column !important;
        height: 100%;
    }
    .caja1 {
        padding-top: 5px;
        width: 100%;
        height: 380px;
        margin: 35px ;
        text-align: center;
        justify-content: center;
        align-items: center;
        
        display: flex;
        flex-direction: column;
    }
    
    .caja1 h2 {
        font-weight: bold;
        color: #fac849;
    }
    
    .caja1 h6 {
        font-family: 'Poppins', sans-serif !important;
        font-size: 15px;
        line-height: 19px;
        color: #FFFFFF;
        width: 90%;
        text-align: justify;
        justify-content: center;
        justify-items: center;
    }
    
    .caja2 {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .caja2 ul {
        display: flex;
        padding: 0;
        width: 600px;
    }
    
    .caja2 li {
        list-style: none;
        width: 100%;
    }
    
    .caja2 img {
        list-style: none;
        width: auto;
        height: 200px;
    }
    
    .carousel {
        width: 100%;
        background-color: rgb(29, 28, 28);
    }
    
    .contenido-slider {
        width: 100%;
        height: 100%;
        background-color: rgb(29, 28, 28);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footproy {
        margin-top: 0px;
        background-color: rgb(29, 28, 28);
    }
    .carousel-indicators{
        position: relative;
        margin-top: 30px;
    }
}