@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body{
    background-color: #EDEDED;
}

.header{
    background-color: #000000;
    height: 85px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 5%;
}
.nav{
    display: flex;
    justify-content: space-between;
    
}
.nav-link{
    color: #EDEDED;
    text-decoration: none;
}

.header .logo {
    cursor: pointer;
}
.header .logo img{
    height: 70px;
    width: auto;

}
.nav-menu{
    display: flex;
    margin-right: 20px;
    list-style: none;
    padding: 0 10px;
}

.nav-menu-item{
    font-size: 700;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 80px;
    margin: 0 20px;
    font-family:  'Inter', sans-serif;
    width: max-content;
   
}
.nav-menu li a:hover{
    color: #FFB602;
}
.nav-menu li:hover{
    transform: scale(1.1);
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    
    display: none;
}

.navtoggle:focus:not(:focus-visible){
    outline:none;
}
/*Modificando el css para dispositivos Móviles*/
@media (max-width: 768px){
   
    .header{
        height: 65px;
    }
    
    .header .logo img{
        height: 50px;
        width: auto;
        padding: 0 20px;
    
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px ;
        position: fixed;
        background-color: #656464;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 230px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }  

    .nav-menu-item{
        line-height: 50px;    
    }

    .nav-toggle {
        
        display: block;
    }

    .nav-menu_visible{
       left: 0;
    }
    
    }

/*---------------------------SLIDE--------------------------------------------*/
/*----------------------------------------------------------------------------*/

.container-slider{
    width: 100%;
    height: 900px;
    overflow: hidden;
    margin: auto;
    background-color: #FFB602;
    
   
    
}

.container-slider ul {
    display: flex;
    animation: cambio 16s infinite alternate ease-in-out;
    width: 400%;
    padding: 0;
}

.container-slider li{
   width: 100%;
   list-style: none;
}

.container-slider h1{
    position: absolute;
    color: red;
    top: 50%;
    left: 10%;
}

.container-slider img{
    width: 100%;
    height: 65%;
    padding-top: 85px;
}
/*.slider-section{
    position: relative;
    list-style:none;
    padding: 0;
    display: flex;
    align-items: flex-end;
}
.container-slider input[type="radio"]{
    /*position: relative;
    z-index: 50;
    margin: 10px;
    align-items: flex-end;
}*/
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}


.container-slider .menu-slider {
   
    display: inline-block;

}
.container-slider .menu-slider li{
    
    display:inline-block;
    text-align: center;
    
}
.container-slider .menu-slider li a {
    display: inline-block;
    text-decoration: none;
    background-color: gray;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding-top: 20px;
    
}

@media (max-width: 768px){
    .container-slider{
        width: 100%;
        height: 279px;
        overflow: hidden;
        background-color: #FFB602;
    
    }
    .container-slider img{
        padding-top: 65px;
    }
}


/************************** *************************/


.footer-1{
    width: 100%;
    background-color: #FFB602;
    
}


.footer-1 .g1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
    padding: 25px 0px;
}

.footer-1 .g1 .box{
    justify-content: center;
    
}
.footer-1 .g1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-1 .g1 .box figure img{
    width: 150px;
}

.footer-1 .g1 .box h2{
    color: #5B1E6E;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-1 .g1 .box p{
    margin-bottom: 10px;

}    

.footer-1 .g1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #5B1E6E;
    margin-right: 10px;
    background-color: #fac849;
    text-align: center;
    transition: all 300ms ease;
}

.footer-1 .g1 .red-social a:hover{
    color: aqua;
}

.footer-2{
    background-color: #191818;
    margin: auto;
    text-align: center;
    color: #EDEDED;
}

@media screen and (max-width:800px){
    .footer-1 .g1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 25px 0px;
    }
}

/********************Styles to create Slides.php*************************/
/* 
textarea {
    width: 300px;
    height: 80px;
 }

 .titulo {
  width: 110px;
  height: 5rem;
 }
 .image {
  width: 400px;
 } */

